body{
  background: -webkit-linear-gradient(top,black 80%,#f9a417 );
 background-attachment:fixed;
}

/* CSS registro y login */
.container{
  width: 100%;
  height: 70vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registroPanel{
  display: flex;
  width: 650px;
  height: auto;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.register, .login{
  flex: 1;
}

.register{
  padding: 40px;
  position: relative;
}

.register h2{
  color: #797979;
  margin-bottom: 30px;
}

.register input{
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
}

.register input:active,
.register input:focus{
  outline: none;
}

.register .submit{
  width: auto;
  padding: 10px;
  background: #F8B011;
  color: #fff;
  font-size: 12px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}
hr {
    border: 1px solid #d9d6d6!important;
    height: 395px!important;
    /* width: 173px; */
}
/* .register::after{
  content: 'i';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  right: -23px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background: black;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, .2);
  color: #7c7c7c;
  border:1px solid red;
} */

.login{
  background-image: linear-gradient(to bottom right, white, white);
  padding: 40px;
}

.login h2{
color: #F9AA1D;
  margin-bottom: 45px;
}

.login button i{
  position: absolute;
  top: 12px;
  left: 12px;
}

.login button{
  width: 100%;
  margin: 15px 0px;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  position: relative;
}

.login .fb{
  background: #3b5999;
  border-style: none;
  color: #fff;
}

.login .tw{
  background: #55acef;
  border-style: none;
  color: #fff;
}

.login .correo{
  background: #33d4ce;
  border-style: none;
  color: #fff;
}

@media only screen and (max-width: 540px){
  .registroPanel{
    display: block;
  }

  .register, .login{
    flex: none;
  }

  .register::after{
    top: unset;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
}


/* Fin css registro y login */


 .loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
.button{
    background: -webkit-linear-gradient(right, #FFEC5E,#f9a417)!important;
    color: #000000;
}
.ifheader{
  width: 100%!important;
  background: -webkit-linear-gradient(top,black 80%,black );
  background-image: no-repeat;
  height: 145px
  bottom:0;
  left: 0;
  position: absolute;
}
 header {
    min-height: 90px;
    padding: 40px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
}
header .container-fluid {
    max-width: 1850px;
}
 .right_header_info {
    width: 100%;
    float: left;
    padding: 5px 0 0;
}
.buscar {
    border: 1px solid white;
    width: 95%;
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    margin-top: 6px;
}
.img_logo{
  width: 80%;
position: relative;
margin-left: 35px;
margin-top: -8px;
}
a{
  color:#ffff;
  text-decoration:none!important;
}
.right_header_info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.right_header_info ul li {
    display: inline;
    /* margin-left: 45px; */
}
.right_header_info ul li a {
}
.search {
    position: relative;
    right: 25px;
    top: 0px;
}
#sidebarCollapse a {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    color: #37baeb;
}
.button_user li a {
   color: #fff;
}
.button_user a {
    float: left;
    min-width: 75px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: -3px;
    padding: 0 15px;
    margin: 0 2px;
}
.button_user a {
    /* float: left; */
    /* min-width: 75px; */
    width: 146px;
    height: 42px;
    text-align: center;
    /* line-height: 48px; */
    position: relative;
    top: 2px;
    /* padding: 0 47px; */
    /* color: #fff; */
    /* margin: 0 2px; */
    border: solid #eaeaea 1px;
    border-radius: 10px;
    background: #000;
}
.button_user a:hover, .button_user a:focus, .button_user a.active {
    background: #00aeef;
    border-color: #00aeef;
    color: #fff;
}
#sidebarCollapse {
    background: transparent;
}
