@media only screen and (max-width: 1599px) and (min-width: 1041px) {

.img_logo {
    width: 96%;
    position: relative;
    /* margin-left: 35px; */
    margin-top: 60px;
}
}
@media only screen and (max-width: 1498px) and (min-width: 1200px){
  .img_logo{
    margin-top: 49px;
  }
}
@media only screen and (max-width: 1040px) and (min-width: 770px) {
}
@media only screen and (max-width: 1040px) and (min-width: 902px) {
  .img_logo {
    /* width: 100%; */
    position: relative;
    /* margin-left: 68px; */
    margin-top: 56px;
}
  #buttonRegistro {

    width: 188px;
    height: 33px;
  top:5px;

}
.buscar {
    border: 1px solid white;
    width: 79%;
    height: 31px;
    border-radius: 3px 3px 3px 3px;
    /* align-items: center; */
    margin-top: 66px;
    /* text-align: center; */
    float: left;
}
#buttonColor {
    /* float: left; */
    background: -webkit-linear-gradient(right, #FFEC5E,#f9a417)!important;
    /* min-width: 75px; */
    width: 205px;
    height: 35px;
    text-align: center;
    /* line-height: 48px; */
    position: relative;
    top: 5px;
    /* padding: 0 47px; */
    margin-left: -32px;
    /* color: #fff; */
    /* margin: 0 2px; */
    border: solid #eaeaea 1px;
    border-radius: 10px;
}
.search {
    position: relative;
    left: 77%;
    top: 74px;
    float: right;
}
.container{
      top: 100px;
      position: relative;
}
.img1,
.img2,
.img3{
    background-size: 100% 100%;
    /* background-position: center; */
    position: relative;
    background-repeat: no-repeat;
    height: 494px;
    display: block;
    width: 96%;
    bottom: 35px;
    border-radius: 4px 4px 4px 4px;
}

}

@media only screen and (max-width: 901px) and (min-width: 768px) {
  .img_logo {
    width: 96%;
    position: relative;
    margin-left: 31px;
    margin-top: 59px;
}
.buscar {
    border: 1px solid white;
    width: 79%;
    height: 31px;
    border-radius: 3px 3px 3px 3px;
    /* align-items: center; */
    margin-top: 66px;
    /* text-align: center; */
    float: left;
}
.search {
    position: relative;
    /* left: 45%; */
    top: 72px;
      left: -19px;
}
#buttonColor {
    /* float: left; */
    background: -webkit-linear-gradient(right, #FFEC5E,#f9a417)!important;
    /* min-width: 75px; */
    width: 187px;
    height: 33px;
    left: -38px;
    text-align: center;
    /* line-height: 48px; */
    position: relative;
    top: 5px;
    /* padding: 0 47px; */
    /* color: #fff; */
    /* margin: 0 2px; */
    border: solid #eaeaea 1px;
    border-radius: 10px;
}
.img1, .img2, .img3 {
    background-size: 100% 100%;
    /* background-position: center; */
    position: relative;
    background-repeat: no-repeat;
    height: 395px;
    display: block;
    width: 96%;
    bottom: 63px;
    border-radius: 4px 4px 4px 4px;
}
.container{
      top: 100px;
      position: relative;
}

}

@media only screen and (max-width: 766px) and (min-width: 708px){
  .search {
      position: relative;
      left: 2%;
      height: 19px;
      /* border: 1px solid red; */
      top: 63px;
  }
  .container {
    width: 100%;
    padding-right: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 16px;
    top:100px;
}
  .buscar {
      border: 1px solid white;
      width: 50%;
      height: 42px;
      left: 0;
      border-radius: 3px 3px 3px 3px;
      /* align-items: center; */
      margin-top: 49px;
      /* text-align: center; */
      position: relative;
      /* float: right; */
  }
  .img1, .img2, .img3 {
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    height: 395px;
    display: block;
    margin-left: 20px;
    width: 219px;
    /* border: 1px solid red; */
    bottom: 63px;
    border-radius: 4px 4px 4px 4px;
}
  #Displayflex{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
}
.right_header_info {
    /* float: right; */
    display: flex;
    /* width: 100%; */
    position: relative;
    /* padding: 5px 0 0; */
    /* top: 35px; */
    justify-content: center;
}
#buttonColor {
    /* float: left; */
    background: -webkit-linear-gradient(right, #FFEC5E,#f9a417)!important;
    /* min-width: 75px; */
    width: 187px;
    height: 53px;
    text-align: center;
    /* line-height: 48px; */
    position: relative;
    top: 49px;
    left: 32px;
    /* padding: 0 47px; */
    /* color: #fff; */
    /* margin: 0 2px; */
    border: solid #eaeaea 1px;
    border-radius: 10px;
}
.ulIcons{
  top: 47px;
left: 20px;
}

#log {
    width: 75%;
        margin-left: 15%;
}
#ulIcons{
      bottom: 13px;
}
}

@media only screen and (max-width: 707px) and (min-width: 477px){

.container {
     width: 100%;
     display: block;

}


 .img1, .img2, .img3 {

     margin-top: 15%;
     height: 560px;
     display: block;
     width: 100%;
     border-radius: 4px 4px 4px 4px;

}
#log {
    width: 75%;
    margin-left: 11%!important;
}
#ulIcons{
    bottom: 15px;
}
.right_header_info {
    /* float: right; */
    display: flex;
    /* width: 100%; */
    position: relative;
    /* padding: 5px 0 0; */
    /* top: 35px; */
    justify-content: center;
}
.buscar {
    border: 1px solid white;
    width: 93%;
    height: 40px;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    margin-top: 66px;
    left: 3%;
}
.search{
      right: 24px;
}

#buttonColor {
    top: 25px;

}
.img_logo{
  margin-left: 0;
  width: 100%;
}
 }
 @media only screen and (max-width: 476px) and (min-width: 400px){
   .img1, .img2, .img3 {
       margin-top: 22%;
       height: 440px;
       display: block;
       width: 100%;
       border-radius: 4px 4px 4px 4px;
   }
   .right_header_info {
top: 73px;
display: flex;
justify-content: center;
}
#ulIcons{
  bottom: 25px;
}
#log {
    width: 75%;
    margin-left: 11%!important;
}
.container{
  display: block;
}

.buscar{
  position: relative;
  left: 2%;
}
.img_logo{
  margin-left: 0;
}
 }
 @media only screen and (max-width: 399px) and (min-width: 300px){
   .img1, .img2, .img3 {
margin-top: 37%;
    height: 339px;
display: block;
width: 100%;
 }
 #buttonColor{
   top:22px;
 }
 #log {
     width: 75%;
     margin-left: 8%!;
 }
 #ulIcons{
    bottom: 15px;
 }
 .buscar{
   position: relative;
    left: 2%;
 }
 .img_logo{
   margin-left: 0;
 }
 .container{
   display: block;
 }
 .right_header_info{
   display: flex;
   justify-content: center;
 }
}
