body{
	margin: 0;
	padding: 0;

}

}
.headerM{
	padding-bottom: 0%;
}

.imgH1{
	background: url(imgs/imgsHombres/img1.png) no-repeat;
    width: 14%;
    padding: 0;
    position: relative;
    left: 12%;
}
.imgH2{
	background: url(imgs/imgsHombres/img2.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 14%;
}
.imgH3{
	background: url(imgs/imgsHombres/img3.png) no-repeat;
   	width: 14%;
    height: 213px;
    position: relative;
    left: 16%;
}
.imgH4{
	background: url(imgs/imgsHombres/img4.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 18%;
}
.imgH5{
	background: url(imgs/imgsHombres/img5.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 20%;
}
.imgH6{
	background: url(imgs/imgsHombres/img6.png) no-repeat;
    width: 14%;
    padding: 0;
    position: relative;
    left: 12%;
}
.imgH7{
	background: url(imgs/imgsHombres/img7.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 14%;
}
.imgH8{
	background: url(imgs/imgsHombres/img8.png) no-repeat;
   	width: 14%;
    height: 213px;
    position: relative;
    left: 16%;
}
.imgH9{
	background: url(imgs/imgsHombres/img9.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 18%;
}
.imgH10{
	background: url(imgs/imgsHombres/img10.png) no-repeat;
    width: 14%;
    height: 213px;
    position: relative;
    left: 20%;
}